
{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- End of Header -->
<!-- Main Section -->
<div class="main-section">
  <div class="container_12 ">
    <div class="grid_9">
      <h1>Heading 1</h1>
      <p> <img src="{% static 'images/thumb.png' %}" alt="" class="frame" /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. </p>
      <h1>Heading 2</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. <br />
        <br />
        Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. </p>
      <img src="{% static 'images/med-thumb.png' %}" alt="" class="frame" />
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. </p>
    </div>
    <div id="sidebar" class="grid_3">
      <h1>Menu</h1>
      <ul>
        <li><a href="#">Test link 1</a></li>
        <li><a href="#">Test link 2</a></li>
        <li><a href="#">Test link 3</a></li>
        <li><a href="#">Test link 4</a></li>
      </ul>
      <h1>Categories</h1>
      <ul>
        <li><a href="#">Test link 1</a></li>
        <li><a href="#">Test link 2</a></li>
        <li><a href="#">Test link 3</a></li>
        <li><a href="#">Test link 4</a></li>
      </ul>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. </p>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- End of Main Section -->
{% endblock content %}