
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>SOHO</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/cufon.js' %}"></script>
<script src="{% static 'scripts/TeXGyreAdventor_400.font.js' %}" type="text/javascript"></script>
<script type="text/javascript">
Cufon.replace('h1,h2,h3,h4');
Cufon.replace('#menu #nav li');
</script>
<script type="text/javascript" src="{% static 'scripts/slides.min.jquery.js' %}"></script>
<script type="text/javascript">
$(function(){
	$('#slider').slides({
		preload: true,
		preloadImage: "{% static 'img/loading.gif' %}",
		play: 5000,
		pause: 2500,
		auto: 2000,
		hoverPause: true,
		animationComplete: function(current){
			$('.caption').animate({
				bottom:0
			},200);
		},
		slidesLoaded: function() {
			$('.caption').animate({
				bottom:0
			},200);
		}
	});
});
</script>

</script>
<link type="text/css" rel="stylesheet" href="{% static 'styles/global.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'styles/reset.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'styles/960.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'styles/style.css' %}" />
</head>
<body>
<!-- Header -->
<div class="container_12">
  <div id="header" class="grid_12">
    <div id="logo" class="grid_4 alpha"><a href="{% url 'home-page' %}"><img src="{% static 'images/logo.png' %}" alt="" /></a></div>
    <div id="menu" class="grid_8 omega">
      <ul id="nav">
        <li><a href="{% url 'home-page' %}" class="active">Home</a></li>
        <li><a href="{% url 'about-page' %}">About</a></li>
        <li><a href="{% url 'gallery-page' %}">Gallery</a></li>
        <li class="last"><a href="{% url 'contact-page' %}">">Contact</a></li>
      </ul>
    </div>
  </div>
  <div id="slider" class="grid_12">
    <div class="slides_container">
      <div class="slide"> <a href="#"><img src="{% static 'images/office1.jpg' %}" alt="" /></a> </div>
      <div class="slide"> <a href="#"><img src="{% static 'images/fern.jpg' %}" alt="" /></a>
        <div class="caption">Insert your caption here</div>
      </div>
      <div class="slide"> <a href="#"><img src="{% static 'images/trees.jpg' %}" alt="" /></a> </div>
    </div>
    <a href="#" class="prev"><img src="{% static 'images/arrow-prev.png' %}" width="24" height="43" alt="" /></a> <a href="#" class="next"><img src="{% static 'images/arrow-next.png' %}" width="24" height="43" alt="" /></a> </div>
  <div class="clear"></div>
</div>
<!-- End of Header -->


{% block content %}
{% endblock content %}

<!-- Footer -->
<div id="footer">
    <div class="container_12">
      <div class="grid_3">
        <h1>Our Favorites</h1>
        <ul>
          <li><a href="#">Test link 1</a></li>
          <li><a href="#">Test link 2</a></li>
          <li><a href="#">Test link 3</a></li>
          <li><a href="#">Test link 4</a></li>
        </ul>
      </div>
      <div class="grid_3">
        <h1>Navigation</h1>
        <ul>
          <li><a href="#">Test link 1</a></li>
          <li><a href="#">Test link 2</a></li>
          <li><a href="#">Test link 3</a></li>
          <li><a href="#">Test link 4</a></li>
        </ul>
      </div>
      <div class="grid_3">
        <h1>News</h1>
        <ul>
          <li><a href="#">Test link 1</a></li>
          <li><a href="#">Test link 2</a></li>
          <li><a href="#">Test link 3</a></li>
          <li><a href="#">Test link 4</a></li>
        </ul>
      </div>
      <div class="grid_3">
        <h1>Keep in touch</h1>
        <ul class="social-icons">
          <li><a href="#"><img src="{% static 'images/facebook_32.png' %}" alt="" /></a></li>
          <li><a href="#"><img src="{% static 'images/twitter_32.png' %}" alt="" /></a></li>
          <li><a href="#"><img src="{% static 'images/rss_32.png' %}" alt="" /></a></li>
          <li><a href="#"><img src="{% static 'images/email_32.png' %}" alt="" /></a></li>
        </ul>
        <form action="#" method="post" id="submit-form">
          <fieldset>
            <input type="text" name="email" id="email" />
            <input type="submit" />
          </fieldset>
        </form>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End of Footer -->
  <div class="clear"></div>
  <div id="tail">
    <div class="container_12">Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Design By <a target="_blank" href="http://www.codeplay.co.za">Code Play Studios</a></div>
  </div>
  <script type="text/javascript">Cufon.now();</script>
  </body>
  </html>