
{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Main Section -->
<div class="main-section">
  <div class="container_12 ">
    <div class="grid_6">
      <h1>Contact us</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
        Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. </p>
      <h2>Contact Form</h2>
      <form action="#" id="contact_form">
        <fieldset>
          <p>
            <label for="name">Name:</label>
            <input type="text" name="name" />
          </p>
          <p>
            <label for="email">Email:</label>
            <input type="text" name="email"/>
          </p>
          <p>
            <label for="message">Message:</label>
            <textarea name="message" cols="20" rows="10"></textarea>
          </p>
          <input type="submit" name="submit" />
        </fieldset>
      </form>
    </div>
    <div class="grid_6">
      <h1>Our Offices</h1>
      <img src="{% static 'images/map.png' %}" alt="" class="map frame" />
      <p><img src="{% static 'images/phone.png' %}" alt="" /> Office Tel: +998936658507</p>
      <p><img src="{% static 'images/print.png' %}" alt="" /> Fax No: 0122223432</p>
      <p><img src="{% static 'images/email.png' %}" alt="" /> Email: test@soho.tld</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!-- End of Main Section -->
{% endblock content %}