
{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Main Section -->
<div class="main-section">
  <div class="container_12" id="{% static 'gallery' %}">
    <h1>Gallery</h1>
    <p>Click on each image to see the bigger version.</p>
    <div class="grid_3 alpha"><a href="{% static 'images/gallery1-big.jpg' %}" rel="group1"><img src="{% static 'images/gallery1.jpg' %}" alt="" class="frame" /></a></div>
    <div class="grid_3"><a href="{% static 'images/gallery2-big.jpg' %}" rel="group1"><img src="{% static 'images/gallery2.jpg' %}" alt="" class="frame" /></a></div>
    <div class="grid_3"><a href="{% static 'images/gallery3-big.jpg' %}" rel="group1"><img src="{% static 'images/gallery3.jpg' %}" alt="" class="frame" /></a></div>
    <div class="grid_3 omega"><a href="{% static 'images/gallery4-big.jpg' %}" rel="group1"><img src="{% static 'images/gallery4.jpg' %}" alt="" class="frame" /></a></div>
    <div class="clear"></div>
    <br />
    <div class="grid_3 alpha"><a href="{% static 'images/gallery5-big.jpg' %}" rel="group1"><img src="{% static 'images/gallery5.jpg' %}" alt="" class="frame" /></a></div>
    <div class="grid_3"><a href="{% static 'images/gallery6-big.jpg' %}" rel="group1"><img src="{% static 'images/gallery6.jpg' %}" alt="" class="frame" /></a></div>
    <div class="grid_3"><a href="{% static 'images/gallery7-big.jpg' %}" rel="group1"><img src="{% static 'images/gallery7.jpg' %}" alt="" class="frame" /></a></div>
    <div class="grid_3 omega"><a href="{% static 'images/gallery8-big.jpg' %}" rel="group1"><img src="{% static 'images/gallery8.jpg' %}" alt="" class="frame" /></a></div>
    <div class="clear"></div>
    <br />
  </div>
</div>
<!-- End of Main Section -->
{% endblock content %}