
{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="clear"></div>
  <div class="container_12 testimonials"> <span class="testimonial-message">&ldquo;Client testimonials can be placed here.&rdquo;</span> - client name </div>
  <div class="clear"></div>
  <div class="container_12">
    <div class="grid_6">
      <h1>Sub Heading 2</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Quisque aliquam varius mauris quis aliquet. Nulla facilisi. Ut laoreet, orci a feugiat bibendum, arcu risus adipiscing nisi, ornare faucibus ligula leo eget odio.</p>
    </div>
    <div class="grid_6">
      <h1>Sub Heading 3</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Quisque aliquam varius mauris quis aliquet. Nulla facilisi. Ut laoreet, orci a feugiat bibendum, arcu risus adipiscing nisi, ornare faucibus ligula leo eget odio.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
{% endblock content %}