
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="clear"></div>
<!-- Main Section -->
<div id="content" class="shadow">
  <div class="container_12">
    <div class="grid_3">
      <h1>Introducing Soho</h1>
      <p> Soho is a free business HTML template developed by code play studios. Offering a simple yet elegant look and well structured code, Soho is the perfect template to get a good looking site up and running in no time. </p>
    </div>
    <div class="grid_3 new-bullets">
      <h1>Features</h1>
      <ul>
        <li>Based on the 960 grid system</li>
        <li>Content slider on homepage</li>
        <li>Cufón text replacement</li>
        <li>Gallery using colorbox</li>
        <li>Contact form</li>
      </ul>
    </div>
    <div class="grid_3">
      <h1>Browser Love</h1>
      <p> Works in all major browsers out there.<br />
        IE7/8, Firefox, Opera, Chrome and Safari. </p>
      <img src="{% static 'images/browsers.png' %}" alt="" /> </div>
    <div class="grid_3 new-bullets">
      <h1>Other files</h1>
      <p> Here is just a few other examples of what can be done with this template: </p>
      <ul>
        <li><a href="homepage-2.html">Homepage - static image</a></li>
        <li><a href="homepage-3.html">Homepage - 3 Columns with icons</a> </li>
        <li><a href="about-2.html">About page - menu on left</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="container_12 testimonials"> <span class="testimonial-message">&ldquo;Client testimonials can be placed here.&rdquo;</span> - client name </div>
  <div class="clear"></div>
  <div class="container_12">
    <div class="grid_6">
      <h1>Sub Heading 2</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Quisque aliquam varius mauris quis aliquet. Nulla facilisi. Ut laoreet, orci a feugiat bibendum, arcu risus adipiscing nisi, ornare faucibus ligula leo eget odio.</p>
    </div>
    <div class="grid_6">
      <h1>Sub Heading 3</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula id quam scelerisque a hendrerit mauris vulputate. Praesent ultricies aliquet eros, id egestas tellus auctor id. Quisque aliquam varius mauris quis aliquet. Nulla facilisi. Ut laoreet, orci a feugiat bibendum, arcu risus adipiscing nisi, ornare faucibus ligula leo eget odio.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!-- End of Main Section -->
{% endblock content %}